/* global */
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  font-family: $f-serif;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  word-break: break-all;
  color: $c-black;
}
img {
  width: 100%;
}
.sp {
  display: none;
  @include mq(sp) {
    display: block !important;
  }
}
.tb {
  display: none;
  @include mq(tb) {
    display: block !important;
  }
}
.pc {
  display: none;
  @include mq(pc) {
    display: block !important;
  }
}
/* /global */


/* wrapper */
#wrapper {}
/* /wrapper */


/* header */
#header {
  @include mq(sp) {
    padding: 37.5% 5% 0;
    width: 100%;
  }
  @include mq(tb) {
    padding: 150px 5% 0;
    width: 100%;
  }
  @include mq(pc) {
    margin: 0 auto;
    padding: 196px 0 0 0;
    min-width: 860px;
    max-width: 1030px;
    width: 100%;
  }
  h1 {
    margin: 0 auto;
    @include mq(sp) {
      width: 100%;
    }
    @include mq(tb) {
      width: 380px;
    }
    @include mq(pc) {
      width: 560px;
    }
  }
  time {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: $f-crimson;
    font-weight: 600;
    line-height: 1;
    @include mq(sp) {
      margin-top: 15.6%;
      @include fzvw(44);
    }
    @include mq(tb) {
      margin-top: 50px;
      font-size: 24px;
    }
    @include mq(pc) {
      margin-top: 70px;
      font-size: 36px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 60%;
      left: 50%;
      margin-left: -.7em;
      width: 1.2em;
      height: 1px;
      background-color: $c-black;
      transform: rotate(-10deg);
      transform-origin: center center;
    }
    i {
      letter-spacing: .06em;
      @include mq(sp) {
        @include fzvw(30);
      }
      @include mq(tb) {
        font-size: 16px;
      }
      @include mq(pc) {
        font-size: 24px;
      }
    }
  }
  p {
    @include fzvw(44);
    line-height: 1;
    i {
      @include fzvw(30);
    }
  }
  nav {
    @include mq(sp) {
      margin-top: 23.4%;
    }
    @include mq(tb) {
      margin-top: 120px;
    }
    @include mq(pc) {
      margin-top: 150px;
    }
  }
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      background-color: $c-black;
      @include mq(sp) {
        width: 49%;
        &:nth-child(2n) {
          margin-left: 2%;
        }
        &:nth-child(n+3) {
          margin-top: 2%;
        }
      }
      @include mq(tb) {
        width: 49.5%;
        &:nth-child(2n) {
          margin-left: 1%;
        }
        &:nth-child(n+3) {
          margin-top: 1%;
        }
      }
      @include mq(pc) {
        width: 25%;
      }
      a {
        display: block;
        text-align: center;
        line-height: 1;
        color: $c-white;
        @include mq(sp) {
          padding: 10% 0;
          @include fzvw(24);
        }
        @include mq(tb) {
          padding: 14px 0;
          font-size: 18px;
        }
        @include mq(pc) {
          padding: 10px 0;
          font-size: 14px;
          &:hover {
            background-color: #808080;
          }
        }
      }
    }
  }
}
/* /header */


/* main */
#main {
  width: 100%;
  padding: 0 5%;
}
/* /main */


/* footer */
#footer {
  margin-top: 24%;
  dl {
    background-color: $c-black;
    padding: 14% 5%;
    font-family: $f-sans;
    @include fzvw(20);
    color: #fff;
    line-height: 1.6;
    dt {
      &:nth-child(n+2) {
        margin-top: 4.8%;
      }
    }
  }
  div {
    a {
      position: relative;
      display: block;
      padding: 6% 0;
      text-align: center;
      font-family: $f-crimson;
      font-weight: 600;
      @include fzvw(30);
      line-height: 1;
      list-style-position: .12em;
      &:before{
        content: '';
        display: block;
        margin: 0 auto 2%;
        border-top: 2px solid $c-grey;
        border-right: 2px solid $c-grey;
        width: .6em;
        height: .6em;
        transform: rotate(-45deg);
      }
      &:hover{
      }
    }
  }
}
/* /footer */
