/* global */
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  position: relative;
  font-family: $f-serif;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  word-wrap:break-word;
  color: $c-black;
}
img {
  width: 100%;
}
.sp {
  display: none;
  @include mq(sp) {
    display: block !important;
  }
}
.tb {
  display: none;
  @include mq(tb) {
    display: block !important;
  }
}
.pc {
  display: none;
  @include mq(pc) {
    display: block !important;
  }
}
/* /global */


/* language */
#language {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
  background-color: $c-black;
  cursor: pointer;
  pointer-events: all;
  @include mq(sp) {
    margin: 2.5vw 2.5vw 0 0;
    border: 1.6vw solid $c-black;
    width: 32vw;
  }
  @include mq(tb) {
    margin: 26px 26px 0 0;
    border: 5px solid $c-black;
    width: 110px;
  }
  @include mq(pc) {
    margin: 26px 26px 0 0;
    border: 5px solid $c-black;
    width: 110px;
  }
  &:before {
    content: 'JP';
    position: absolute;
    top: 0;
    left: 18%;
    line-height: 1.8;
    font-family: $f-crimson;
    font-weight: 700;
    color: $c-black;
    z-index: 2;
    @include mq(sp) {
      @include fzvw(26);
    }
    @include mq(tb) {
      font-size: 14px;
    }
    @include mq(pc) {
      font-size: 14px;
    }
  }
  &:after {
    content: 'EN';
    position: absolute;
    top: 0;
    right: 17%;
    line-height: 1.8;
    font-family: $f-crimson;
    font-weight: 700;
    @include fzvw(26);
    color: $c-white;
    z-index: 2;
    @include mq(sp) {
      @include fzvw(26);
    }
    @include mq(tb) {
      font-size: 14px;
    }
    @include mq(pc) {
      font-size: 14px;
    }
  }
  span  {
    position: relative;
    display: block;
    border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
    padding-bottom: 20%;
    width: 50%;
    background-color: $c-white;
    z-index: 1;
  }
}
/* /language */


/* header */
#header {
  @include mq(sp) {
    padding: 37.5% 5% 0;
    width: 100%;
  }
  @include mq(tb) {
    padding: 150px 5% 0;
    width: 100%;
  }
  @include mq(pc) {
    margin: 0 auto;
    padding: 196px 0 0 0;
    min-width: 860px;
    max-width: 1030px;
    width: 100%;
  }
  h1 {
    margin: 0 auto;
    @include mq(sp) {
      width: 100%;
    }
    @include mq(tb) {
      width: 380px;
    }
    @include mq(pc) {
      width: 560px;
    }
  }
  time {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: $f-crimson;
    font-weight: 600;
    line-height: 1;
    @include mq(sp) {
      margin-top: 15.6%;
      @include fzvw(44);
    }
    @include mq(tb) {
      margin-top: 50px;
      font-size: 24px;
    }
    @include mq(pc) {
      margin-top: 70px;
      font-size: 36px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 60%;
      left: 50%;
      margin-left: -.7em;
      width: 1.2em;
      height: 1px;
      background-color: $c-black;
    }
    i {
      letter-spacing: .06em;
      @include mq(sp) {
        @include fzvw(30);
      }
      @include mq(tb) {
        font-size: 16px;
      }
      @include mq(pc) {
        font-size: 24px;
      }
    }
  }
  p {
    @include fzvw(44);
    line-height: 1;
    i {
      @include fzvw(30);
    }
  }
  nav {
    @include mq(sp) {
      margin-top: 23.4%;
    }
    @include mq(tb) {
      margin-top: 120px;
    }
    @include mq(pc) {
      margin-top: 150px;
    }
  }
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      background-color: $c-black;
      @include mq(sp) {
        width: 49%;
        &:nth-child(2n) {
          margin-left: 2%;
        }
        &:nth-child(n+3) {
          margin-top: 2%;
        }
      }
      @include mq(tb) {
        width: 49.5%;
        &:nth-child(2n) {
          margin-left: 1%;
        }
        &:nth-child(n+3) {
          margin-top: 1%;
        }
      }
      @include mq(pc) {
        width: 25%;
      }
      a {
        display: block;
        text-align: center;
        line-height: 1;
        color: $c-white;
        @include mq(sp) {
          padding: 10% 0;
          @include fzvw(24);
        }
        @include mq(tb) {
          padding: 14px 0;
          font-size: 18px;
        }
        @include mq(pc) {
          padding: 11px 0;
          font-size: 14px;
          font-weight: 600;
          &:hover {
            background-color: #808080;
          }
        }
      }
    }
  }
}
/* /header */


/* main */
#main {
  @include mq(sp) {
    padding: 0 5%;
    width: 100%;
  }
  @include mq(tb) {
    padding: 0 5%;
    width: 100%;
  }
  @include mq(pc) {
    margin: 0 auto;
    width: 860px;
  }
}
/* /main */


/* footer */
#footer {
  background-color: $c-black;
  @include mq(sp) {
    margin-top: 24%;
  }
  @include mq(tb) {
    margin-top: 180px;
  }
  @include mq(pc) {
    margin-top: 180px;
  }
  dl {
    margin: 0 auto;
    font-family: $f-sans;
    color: #fff;
    line-height: 1.6;
    @include mq(sp) {
      padding: 14% 5%;
    }
    @include mq(tb) {
      padding: 70px 5%;
      width: 100%;
    }
    @include mq(pc) {
      padding: 70px 0;
      width: 860px;
    }
    dt,
    dd {
      display: inline-block;
      vertical-align: top;
      @include mq(sp) {
        @include fzvw(20);
      }
      @include mq(tb) {
        font-size: 14px;
      }
      @include mq(pc) {
        font-size: 14px;
      }
    }
    dt {
      @include mq(sp) {
        width: 100%;
      }
      @include mq(tb) {
        width: 100%;
      }
      @include mq(pc) {
        width: 106px;
      }
      &:nth-child(n+2) {
        @include mq(sp) {
          margin-top: 4.8%;
        }
        @include mq(tb) {
          margin-top: 32px;
        }
        @include mq(pc) {
          margin-top: 32px;
        }
      }
    }
    dd {
      @include mq(sp) {
        width: 100%;
        @include fzvw(20);
      }
      @include mq(tb) {
        width: 100%;
        font-size: 14px;
      }
      @include mq(pc) {
        width: 754px;
        font-size: 14px;
        &:nth-child(n+3) {
          margin-top: 32px;
        }
      }
    }
  }
  div {
    background-color: $c-white;
    a {
      position: relative;
      display: block;
      text-align: center;
      font-family: $f-crimson;
      font-weight: 600;
      line-height: 1;
      letter-spacing: .12em;
      @include mq(sp) {
        padding: 6% 0;
        @include fzvw(30);
      }
      @include mq(tb) {
        padding: 26px 0 40px;
        font-size: 30px;
      }
      @include mq(pc) {
        padding: 26px 0 40px;
        font-size: 30px;
      }
      &:before{
        content: '';
        display: block;
        border-top: 2px solid $c-grey;
        border-right: 2px solid $c-grey;
        width: .6em;
        height: .6em;
        transform: rotate(-45deg);
        @include mq(sp) {
          margin: 0 auto 2%;
        }
        @include mq(tb) {
          margin: 0 auto 4px;
        }
        @include mq(pc) {
          margin: 0 auto 4px;
        }
      }
      &:hover{
      }
    }
  }
}
/* /footer */
