/* global */
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  font-family: $f-serif;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  word-break: break-all;
  color: $c-black;
}
img {
  width: 100%;
}
.sp {
  @media only screen and (max-width: $break-tb) {
    display: block;
  }
  @media only screen and (min-width: $break-tb) and (max-width: $break-pc) {
    display: none;
  }
  @media only screen and (min-width: $break-pc) {
    display: none;
  }
}
.tb {
  @media only screen and (max-width: $break-tb) {
    display: none;
  }
  @media only screen and (min-width: $break-tb) and (max-width: $break-pc) {
    display: block;
  }
  @media only screen and (min-width: $break-pc) {
    display: none;
  }
}
.pc {
  @media only screen and (max-width: $break-tb) {
    display: none;
  }
  @media only screen and (min-width: $break-tb) and (max-width: $break-pc) {
    display: none;
  }
  @media only screen and (min-width: $break-pc) {
    display: block;
  }
}
/* /global */


/* wrapper */
#wrapper {}
/* /wrapper */


/* header */
#header {
  padding: 37.5% 5% 0;
  width: 100%;
  h1 {
  }
  time {
    position: relative;
    margin-top: 15.6%;
    width: 100%;
    text-align: center;
    font-family: $f-crimson;
    @include fzvw(44);
    font-weight: 600;
    line-height: 1;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 60%;
      left: 50%;
      margin-left: -.75em;
      width: 1.4em;
      height: 1px;
      background-color: $c-black;
      transform: rotate(-10deg);
      transform-origin: center center;
    }
    i {
      @include fzvw(30);
      letter-spacing: .06em;
    }
  }
  p {
    @include fzvw(44);
    line-height: 1;
    i {
      @include fzvw(30);
    }
  }
  nav {
    margin-top: 23.4%;
  }
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      background-color: $c-black;
      @media only screen and (max-width: $break-tb) {
        width: 49%;
        &:nth-child(2n) {
          margin-left: 2%;
        }
        &:nth-child(n+3) {
          margin-top: 2%;
        }
      }
      a {
        display: block;
        padding: 10% 0;
        text-align: center;
        line-height: 1;
        @include fzvw(24);
        color: $c-white;
        @media only screen and (min-width: $break-pc) {
          &:hover{
          }
        }
      }
    }
  }
}
/* /header */


/* main */
#main {
  width: 100%;
  padding: 0 5%;
}
/* /main */


/* footer */
#footer {
  
}
/* /footer */
