.index .intro,
.index .summary,
.index .entry {
  margin-top: 28%;
}
.index .entry .h3_01 {
  margin-top: 23%;
}
.index .intro .div_01 {
  margin-top: 20%;
}
.index .summary .table_01,
.index .entry .p_01 {
  margin-top: 13.7%;
}
.index .intro .p_01,
.index .entry .div_01,
  .index .entry .div_02 {
  margin-top: 12.6%;
}
.index .entry .p_02 {
  margin-top: 10%;
}
.index .entry .address_01 {
  margin-top: 6%;
}
