@charset 'UTF-8';
body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input,
textarea
{
    border-radius: 0;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 

        -ms-box-sizing: border-box;
}

/* global */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'メイリオ', 'Yu Gothic', YuGothic, sans-serif;
    font-size: 0;
    line-height: 0;

    letter-spacing: 0;
    word-break: break-all;

    color: #000;
    background-color: #eefffe; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

img
{
    width: 100%;
}

/* /global */
/* wrapper */
/* /wrapper */
/* header */
#header
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    padding: 1.2% 2.4% 1.2%;

    border-bottom: 2px solid #000;
    background-color: #fff;
}
#header h1
{
    display: inline-block;

    width: 12%; 

    vertical-align: top;
}
#header nav
{
    display: inline-block;

    width: 84%; 
    margin-top: 2.6%;

    vertical-align: top;
}
#header nav ul
{
    text-align: right;
}
#header nav ul li
{
    display: inline-block;

    margin-left: 6%; 

    vertical-align: top;
}
#header nav ul li a
{
    font-size: 3.125vw; 
    line-height: 1;
}

/* /header */
/* main */
#main
{
    position: relative;
    z-index: 1;

    padding-top: 11.2%;
}
#main section
{
    padding: 0 2.4%;
}

/* /main */
/* footer */
#footer
{
    position: relative;
    z-index: 1;

    padding: 0 2.4% 4.8%;

    border-top: 2px solid #000;
    background-color: #fff;
}
#footer nav
{
    margin-top: 4.8%;
}
#footer nav ul li
{
    display: inline-block;
}
#footer nav ul li:nth-child(n+2)
{
    margin-left: 3.6%;
    padding-left: 3.6%; 

    border-left: 1px solid #bbb;
}
#footer nav ul li a
{
    font-size: 3.125vw;
    line-height: 1;
}
#footer address
{
    font-size: 3.125vw;
    line-height: 1.4; 

    display: block;

    margin-top: 4.8%;

    text-align: left;
}
#footer small
{
    font-size: 3.125vw;
    line-height: 1;

    display: inline-block;

    -webkit-box-sizing: content-box;
            box-sizing: content-box; 
    margin-top: 12%;
    padding-top: 2.4%;

    color: #bbb;
    border-top: 1px solid #bbb;
}

/* /footer */
/* hero */
#hero
{
    position: relative;
}
#hero .bx-controls-direction a
{
    font-size: 0;

    position: absolute;
    top: 0;
    left: 0;

    width: 10%;
    height: 0;
    padding-bottom: 50%;

    cursor: pointer;
    pointer-events: all;

    background-color: rgba(255, 255, 255, .4);
}
#hero .bx-controls-direction a:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 50%;
    margin: -25% 0 0 -25%;
    padding-bottom: 50%;

    content: '';
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); 

    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
#hero .bx-controls-direction a.bx-next
{
    right: 0;
    left: auto;
}
#hero .bx-controls-direction a.bx-next:after
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
#hero .bx-pager
{
    margin-top: 4.8%;

    text-align: center;
}
#hero .bx-pager .bx-pager-item
{
    display: inline-block;

    width: 6px;
    height: 6px; 
    margin: 0 2.4%;
}
#hero .bx-pager .bx-pager-item a
{
    font-size: 0;

    display: block;

    width: 100%;
    height: 100%;

    background-color: #bbb;
}
#hero .bx-pager .bx-pager-item a.active
{
    background-color: #f0ff00;
}
#hero p
{
    font-size: 3.125vw;
    line-height: 1.4; 

    margin-top: 6%;
    padding: 0 2.4%;

    text-align: center;
}

/* /hero */
/* index */
.index .topics
{
    margin-top: 6%;
}
.index .topics .ul_01
{
    margin-top: 3.6%;
}

.index .works
{
    margin-top: 12%;
}

/* /index */
/* about */
/* /about */
.index .topics .h3_01,
.index .works .h3_01
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 6.5625vw;
    font-weight: bold;
    line-height: 1.4;

    position: relative;

    letter-spacing: .1em;
}
.index .topics .h3_01 i,
.index .works .h3_01 i
{
    font-size: 3.75vw;

    margin-left: 2.4%;

    letter-spacing: 0;
}

.index .topics .h3_01,
.index .works .h3_01
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 6.5625vw;
    font-weight: bold;
    line-height: 1.4;

    position: relative;

    letter-spacing: .1em;
}
.index .topics .h3_01 i,
.index .works .h3_01 i
{
    font-size: 3.75vw;

    margin-left: 2.4%;

    letter-spacing: 0;
}

.index .topics ul li
{
    width: 100%;
    padding: 1.2%;

    border-right: 1px solid #f0ff00;
    background-color: #fff;
}
.index .topics ul li:nth-child(n+2)
{
    margin-top: 2.4%;
}
.index .topics ul li a
{
    display: block;
}
.index .topics ul li a figure
{
    display: inline-block;

    width: 36%; 

    vertical-align: top;
}
.index .topics ul li a > div
{
    display: inline-block;

    width: 62%; 
    padding-left: 3.6%;

    vertical-align: top;
}
.index .topics ul li a > div time
{
    font-size: 2.8125vw;
    line-height: 1;

    color: #bbb;
}
.index .topics ul li a > div p
{
    font-size: 3.125vw;
    line-height: 1.3; 

    margin-top: 3.6%;
}
