@charset 'UTF-8';
body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input,
textarea
{
    border-radius: 0;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* global */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    font-size: 0;
    line-height: 0;

    position: relative;

    letter-spacing: 0;
    word-wrap: break-word;

    color: #221714; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

img
{
    width: 100%;
}

.sp
{
    display: none;
}
@media screen and (max-width: 425px)
{
    .sp
    {
        display: block !important;
    }
}

.tb
{
    display: none;
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .tb
    {
        display: block !important;
    }
}

.pc
{
    display: none;
}
@media screen and (min-width: 769px)
{
    .pc
    {
        display: block !important;
    }
}

/* /global */
/* language */
#language
{
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
    pointer-events: all; 

    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background-color: #221714;
}
@media screen and (max-width: 425px)
{
    #language
    {
        width: 32vw; 
        margin: 2.5vw 2.5vw 0 0;

        border: 1.6vw solid #221714;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #language
    {
        width: 110px; 
        margin: 26px 26px 0 0;

        border: 5px solid #221714;
    }
}
@media screen and (min-width: 769px)
{
    #language
    {
        width: 110px; 
        margin: 26px 26px 0 0;

        border: 5px solid #221714;
    }
}
#language:before
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    font-weight: 700;
    line-height: 1.8;

    position: absolute;
    z-index: 2; 
    top: 0;
    left: 18%;

    content: 'JP';

    color: #221714;
}
@media screen and (max-width: 425px)
{
    #language:before
    {
        font-size: 4.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #language:before
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 769px)
{
    #language:before
    {
        font-size: 14px;
    }
}
#language:after
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    font-size: 4.0625vw;
    font-weight: 700;
    line-height: 1.8;

    position: absolute;
    z-index: 2; 
    top: 0;
    right: 17%;

    content: 'EN';

    color: #fff;
}
@media screen and (max-width: 425px)
{
    #language:after
    {
        font-size: 4.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #language:after
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 769px)
{
    #language:after
    {
        font-size: 14px;
    }
}
#language span
{
    position: relative;
    z-index: 1; 

    display: block;

    width: 50%;
    padding-bottom: 20%;

    border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
    background-color: #fff;
}

/* /language */
/* header */
@media screen and (max-width: 425px)
{
    #header
    {
        width: 100%; 
        padding: 37.5% 5% 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    #header
    {
        width: 100%; 
        padding: 150px 5% 0;
    }
}

@media screen and (min-width: 769px)
{
    #header
    {
        width: 100%; 
        min-width: 860px;
        max-width: 1030px;
        margin: 0 auto;
        padding: 196px 0 0 0;
    }
}

#header h1
{
    margin: 0 auto;
}
@media screen and (max-width: 425px)
{
    #header h1
    {
        width: 100%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #header h1
    {
        width: 380px;
    }
}
@media screen and (min-width: 769px)
{
    #header h1
    {
        width: 560px;
    }
}

#header time
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    font-weight: 600;
    line-height: 1; 

    position: relative;

    width: 100%;

    text-align: center;
}
@media screen and (max-width: 425px)
{
    #header time
    {
        font-size: 6.875vw; 

        margin-top: 15.6%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #header time
    {
        font-size: 24px; 

        margin-top: 50px;
    }
}
@media screen and (min-width: 769px)
{
    #header time
    {
        font-size: 36px; 

        margin-top: 70px;
    }
}
#header time:after
{
    position: absolute;
    top: 60%;
    left: 50%;

    display: block;

    width: 1.2em;
    height: 1px;
    margin-left: -.7em;

    content: '';

    background-color: #221714;
}
#header time i
{
    letter-spacing: .06em;
}
@media screen and (max-width: 425px)
{
    #header time i
    {
        font-size: 4.6875vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #header time i
    {
        font-size: 16px;
    }
}
@media screen and (min-width: 769px)
{
    #header time i
    {
        font-size: 24px;
    }
}

#header p
{
    font-size: 6.875vw;
    line-height: 1;
}
#header p i
{
    font-size: 4.6875vw;
}

@media screen and (max-width: 425px)
{
    #header nav
    {
        margin-top: 23.4%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    #header nav
    {
        margin-top: 120px;
    }
}

@media screen and (min-width: 769px)
{
    #header nav
    {
        margin-top: 150px;
    }
}

#header ul li
{
    display: inline-block;

    vertical-align: top;

    background-color: #221714;
}
@media screen and (max-width: 425px)
{
    #header ul li
    {
        width: 49%;
    }
    #header ul li:nth-child(2n)
    {
        margin-left: 2%;
    }
    #header ul li:nth-child(n+3)
    {
        margin-top: 2%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #header ul li
    {
        width: 49.5%;
    }
    #header ul li:nth-child(2n)
    {
        margin-left: 1%;
    }
    #header ul li:nth-child(n+3)
    {
        margin-top: 1%;
    }
}
@media screen and (min-width: 769px)
{
    #header ul li
    {
        width: 25%;
    }
}
#header ul li a
{
    line-height: 1;

    display: block;

    text-align: center;

    color: #fff;
}
@media screen and (max-width: 425px)
{
    #header ul li a
    {
        font-size: 3.75vw; 

        padding: 10% 0;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #header ul li a
    {
        font-size: 18px; 

        padding: 14px 0;
    }
}
@media screen and (min-width: 769px)
{
    #header ul li a
    {
        font-size: 14px;
        font-weight: 600; 

        padding: 11px 0;
    }
    #header ul li a:hover
    {
        background-color: #808080;
    }
}

/* /header */
/* main */
@media screen and (max-width: 425px)
{
    #main
    {
        width: 100%; 
        padding: 0 5%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    #main
    {
        width: 100%; 
        padding: 0 5%;
    }
}

@media screen and (min-width: 769px)
{
    #main
    {
        width: 860px; 
        margin: 0 auto;
    }
}

/* /main */
/* footer */
#footer
{
    background-color: #221714;
}
@media screen and (max-width: 425px)
{
    #footer
    {
        margin-top: 24%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer
    {
        margin-top: 180px;
    }
}
@media screen and (min-width: 769px)
{
    #footer
    {
        margin-top: 180px;
    }
}
#footer dl
{
    font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', '游ゴシック', YuGothic, 'Meiryo', sans-serif;
    line-height: 1.6; 

    margin: 0 auto;

    color: #fff;
}
@media screen and (max-width: 425px)
{
    #footer dl
    {
        padding: 14% 5%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer dl
    {
        width: 100%; 
        padding: 70px 5%;
    }
}
@media screen and (min-width: 769px)
{
    #footer dl
    {
        width: 860px; 
        padding: 70px 0;
    }
}
#footer dl dt,
#footer dl dd
{
    display: inline-block;

    vertical-align: top;
}
@media screen and (max-width: 425px)
{
    #footer dl dt,
    #footer dl dd
    {
        font-size: 3.125vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer dl dt,
    #footer dl dd
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 769px)
{
    #footer dl dt,
    #footer dl dd
    {
        font-size: 14px;
    }
}
@media screen and (max-width: 425px)
{
    #footer dl dt
    {
        width: 100%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer dl dt
    {
        width: 100%;
    }
}
@media screen and (min-width: 769px)
{
    #footer dl dt
    {
        width: 106px;
    }
}
@media screen and (max-width: 425px)
{
    #footer dl dt:nth-child(n+2)
    {
        margin-top: 4.8%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer dl dt:nth-child(n+2)
    {
        margin-top: 32px;
    }
}
@media screen and (min-width: 769px)
{
    #footer dl dt:nth-child(n+2)
    {
        margin-top: 32px;
    }
}
@media screen and (max-width: 425px)
{
    #footer dl dd
    {
        font-size: 3.125vw; 

        width: 100%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer dl dd
    {
        font-size: 14px; 

        width: 100%;
    }
}
@media screen and (min-width: 769px)
{
    #footer dl dd
    {
        font-size: 14px; 

        width: 754px;
    }
    #footer dl dd:nth-child(n+3)
    {
        margin-top: 32px;
    }
}
#footer div
{
    background-color: #fff;
}
#footer div a
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    font-weight: 600;
    line-height: 1;

    position: relative;

    display: block;

    text-align: center;
    letter-spacing: .12em;
}
@media screen and (max-width: 425px)
{
    #footer div a
    {
        font-size: 4.6875vw; 

        padding: 6% 0;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer div a
    {
        font-size: 30px; 

        padding: 26px 0 40px;
    }
}
@media screen and (min-width: 769px)
{
    #footer div a
    {
        font-size: 30px; 

        padding: 26px 0 40px;
    }
}
#footer div a:before
{
    display: block;

    width: .6em;
    height: .6em;

    content: '';
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); 

    border-top: 2px solid #949494;
    border-right: 2px solid #949494;
}
@media screen and (max-width: 425px)
{
    #footer div a:before
    {
        margin: 0 auto 2%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #footer div a:before
    {
        margin: 0 auto 4px;
    }
}
@media screen and (min-width: 769px)
{
    #footer div a:before
    {
        margin: 0 auto 4px;
    }
}

/* /footer */
@media screen and (max-width: 425px)
{
    .index .intro
    {
        padding-top: 28%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro
    {
        padding-top: 180px;
    }
}

@media screen and (min-width: 769px)
{
    .index .intro
    {
        padding-top: 180px;
    }
}

@media screen and (max-width: 425px)
{
    .index .intro .p_01
    {
        margin-top: 12.6%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro .p_01
    {
        margin-top: 60px;
    }
}

@media screen and (min-width: 769px)
{
    .index .intro .p_01
    {
        margin-top: 60px;
    }
}

@media screen and (max-width: 425px)
{
    .index .intro .div_01
    {
        margin: 20% auto 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro .div_01
    {
        margin: 68px auto 0;
    }
}

@media screen and (min-width: 769px)
{
    .index .intro .div_01
    {
        margin: 68px auto 0;
    }
}

@media screen and (max-width: 425px)
{
    .index .summary
    {
        padding-top: 28%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .summary
    {
        padding-top: 180px;
    }
}

@media screen and (min-width: 769px)
{
    .index .summary
    {
        padding-top: 180px;
    }
}

@media screen and (max-width: 425px)
{
    .index .summary .table_01
    {
        margin: 13.7% auto 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .summary .table_01
    {
        margin: 60px auto 0;
    }
}

@media screen and (min-width: 769px)
{
    .index .summary .table_01
    {
        margin: 60px auto 0;
    }
}

@media screen and (max-width: 425px)
{
    .index .entry
    {
        padding-top: 28%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry
    {
        padding-top: 180px;
    }
}

@media screen and (min-width: 769px)
{
    .index .entry
    {
        padding-top: 180px;
    }
}

@media screen and (max-width: 425px)
{
    .index .entry .p_01
    {
        margin-top: 13.7%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry .p_01
    {
        margin-top: 86px;
    }
}

@media screen and (min-width: 769px)
{
    .index .entry .p_01
    {
        margin-top: 86px;
    }
}

@media screen and (max-width: 425px)
{
    .index .entry .div_01
    {
        margin: 12.6% auto 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry .div_01
    {
        margin: 60px auto 0;
    }
}

@media screen and (min-width: 769px)
{
    .index .entry .div_01
    {
        margin: 60px auto 0;
    }
}

@media screen and (max-width: 425px)
{
    .index .contact
    {
        padding-top: 23%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact
    {
        padding-top: 96px;
    }
}

@media screen and (min-width: 769px)
{
    .index .contact
    {
        padding-top: 96px;
    }
}

@media screen and (max-width: 425px)
{
    .index .contact .p_01
    {
        margin-top: 10%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .p_01
    {
        margin-top: 30px;
    }
}

@media screen and (min-width: 769px)
{
    .index .contact .p_01
    {
        margin-top: 30px;
    }
}

@media screen and (max-width: 425px)
{
    .index .contact .address_01
    {
        margin-top: 10%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .address_01
    {
        margin-top: 30px;
    }
}

@media screen and (min-width: 769px)
{
    .index .contact .address_01
    {
        margin-top: 30px;
    }
}

@media screen and (max-width: 425px)
{
    .index .contact .div_01
    {
        margin: 12.6% auto 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .div_01
    {
        margin: 60px auto 0;
    }
}

@media screen and (min-width: 769px)
{
    .index .contact .div_01
    {
        margin: 60px auto 0;
    }
}

.index .intro .h2_01,
.index .summary .h2_01,
.index .entry .h2_01
{
    font-weight: normal;
    line-height: 1;

    position: relative;

    text-align: center;
    letter-spacing: .12em;
}
@media screen and (max-width: 425px)
{
    .index .intro .h2_01,
    .index .summary .h2_01,
    .index .entry .h2_01
    {
        font-size: 7.5vw;

        padding-bottom: 15.6%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro .h2_01,
    .index .summary .h2_01,
    .index .entry .h2_01
    {
        font-size: 32px;

        padding-bottom: 66px;
    }
}
@media screen and (min-width: 769px)
{
    .index .intro .h2_01,
    .index .summary .h2_01,
    .index .entry .h2_01
    {
        font-size: 32px;

        padding-bottom: 66px;
    }
}
.index .intro .h2_01:after,
.index .summary .h2_01:after,
.index .entry .h2_01:after
{
    position: absolute;
    bottom: 0;

    display: block;

    content: '';

    background-color: #221714;
}
@media screen and (max-width: 425px)
{
    .index .intro .h2_01:after,
    .index .summary .h2_01:after,
    .index .entry .h2_01:after
    {
        left: 50%;

        width: 41%; 
        margin-left: -21%;
        padding-bottom: 3.5%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro .h2_01:after,
    .index .summary .h2_01:after,
    .index .entry .h2_01:after
    {
        left: 50%;

        width: 188px; 
        margin-left: -94px;
        padding-bottom: 14px;
    }
}
@media screen and (min-width: 769px)
{
    .index .intro .h2_01:after,
    .index .summary .h2_01:after,
    .index .entry .h2_01:after
    {
        left: 50%;

        width: 188px; 
        margin-left: -94px;
        padding-bottom: 14px;
    }
}

.index .contact .h3_01
{
    line-height: 1; 

    position: relative;

    text-align: center;
}
@media screen and (max-width: 425px)
{
    .index .contact .h3_01
    {
        font-size: 4.6875vw; 

        padding-bottom: 12%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .h3_01
    {
        font-size: 24px; 

        padding-bottom: 40px;
    }
}
@media screen and (min-width: 769px)
{
    .index .contact .h3_01
    {
        font-size: 24px; 

        padding-bottom: 40px;
    }
}
.index .contact .h3_01:after
{
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    content: '';

    background-color: #949494;
}
@media screen and (max-width: 425px)
{
    .index .contact .h3_01:after
    {
        width: 30.8%; 
        margin-left: -15.4%;
        padding-bottom: 2.8%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .h3_01:after
    {
        width: 94px; 
        margin-left: -47px;
        padding-bottom: 6px;
    }
}
@media screen and (min-width: 769px)
{
    .index .contact .h3_01:after
    {
        width: 94px; 
        margin-left: -47px;
        padding-bottom: 6px;
    }
}

.index .intro .p_01
{
    text-align: center; 
    letter-spacing: .12em;
}
@media screen and (max-width: 425px)
{
    .index .intro .p_01
    {
        font-size: 3.59375vw; 
        line-height: 1.6;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro .p_01
    {
        font-size: 16px; 
        line-height: 1.9;
    }
}
@media screen and (min-width: 769px)
{
    .index .intro .p_01
    {
        font-size: 18px; 
        line-height: 1.9;
    }
}
.index .intro .p_01 i
{
    font-style: italic;
}

.index .entry .p_01
{
    line-height: 1.6;

    text-align: center; 
    letter-spacing: .12em;
}
@media screen and (max-width: 425px)
{
    .index .entry .p_01
    {
        font-size: 4.375vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry .p_01
    {
        font-size: 18px;
    }
}
@media screen and (min-width: 769px)
{
    .index .entry .p_01
    {
        font-size: 20px;
    }
}

.index .contact .p_01
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    line-height: 1.6;

    text-align: center; 
    letter-spacing: .08em;
}
@media screen and (max-width: 425px)
{
    .index .contact .p_01
    {
        font-size: 3.90625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .p_01
    {
        font-size: 18px;
    }
}
@media screen and (min-width: 769px)
{
    .index .contact .p_01
    {
        font-size: 18px;
    }
}

.index .intro .div_01
{
    text-align: center;
}
.index .intro .div_01 a
{
    line-height: 1;

    position: relative; 

    display: block;

    margin: 0 auto;

    letter-spacing: .12em;
}
@media screen and (max-width: 425px)
{
    .index .intro .div_01 a
    {
        font-size: 3.90625vw; 

        width: 100%;
        height: 15vw;
        padding: 5% 0;

        border: 1.6vw solid #949494;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro .div_01 a
    {
        font-size: 18px; 

        width: 100%;
        height: 78px;
        padding: 20px 0;

        border: 10px solid #949494;
    }
}
@media screen and (min-width: 769px)
{
    .index .intro .div_01 a
    {
        font-size: 18px; 

        width: 496px;
        height: 78px;
        padding: 20px 0;

        border: 10px solid #949494;
    }
}
.index .intro .div_01 p
{
    line-height: 1.6;

    text-align: center;
    letter-spacing: .12em;
    pointer-events: none;
}
@media screen and (max-width: 425px)
{
    .index .intro .div_01 p
    {
        font-size: 3.90625vw; 

        padding: 5% 5% 10%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .intro .div_01 p
    {
        font-size: 15px; 

        padding: 30px 30px 60px;
    }
}
@media screen and (min-width: 769px)
{
    .index .intro .div_01 p
    {
        font-size: 15px; 

        padding: 30px 30px 60px;
    }
}
.index .intro .div_01 p i
{
    font-style: italic;
}

.index .entry .div_01
{
    text-align: center;
}
@media screen and (max-width: 425px)
{
    .index .entry .div_01
    {
        width: 100%; 

        border: 1.6vw solid #949494;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry .div_01
    {
        width: 100%; 

        border: 10px solid #949494;
    }
}
@media screen and (min-width: 769px)
{
    .index .entry .div_01
    {
        width: 534px; 

        border: 10px solid #949494;
    }
}
.index .entry .div_01 a
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    line-height: 1.6; 

    position: relative;

    display: block;

    background: #f4f4f5;
}
@media screen and (max-width: 425px)
{
    .index .entry .div_01 a
    {
        font-size: 4.375vw; 

        padding: 8.6% 0;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry .div_01 a
    {
        font-size: 20px; 

        padding: 24px 0 32px;
    }
}
@media screen and (min-width: 769px)
{
    .index .entry .div_01 a
    {
        font-size: 20px; 

        padding: 24px 0 32px;
    }
}
.index .entry .div_01 a:before
{
    display: block;

    content: '';

    background: url(../images/icon_dl.png) no-repeat center top;
    background-size: contain;
}
@media screen and (max-width: 425px)
{
    .index .entry .div_01 a:before
    {
        width: 10%; 
        margin: 0 auto 4.8%;
        padding-bottom: 14.8%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry .div_01 a:before
    {
        width: 26px; 
        margin: 0 auto 16px;
        padding-bottom: 36px;
    }
}
@media screen and (min-width: 769px)
{
    .index .entry .div_01 a:before
    {
        width: 26px; 
        margin: 0 auto 16px;
        padding-bottom: 36px;
    }
}
.index .entry .div_01 a i
{
    line-height: 1; 

    display: block;
}
@media screen and (max-width: 425px)
{
    .index .entry .div_01 a i
    {
        font-size: 3.75vw; 

        margin-top: 4.8%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .entry .div_01 a i
    {
        font-size: 16px; 

        margin-top: 14px;
    }
}
@media screen and (min-width: 769px)
{
    .index .entry .div_01 a i
    {
        font-size: 16px; 

        margin-top: 14px;
    }
}

.index .contact .div_01
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    line-height: 1;

    text-align: center;
    letter-spacing: .12em;
}
@media screen and (max-width: 425px)
{
    .index .contact .div_01
    {
        font-size: 4.6875vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .div_01
    {
        font-size: 24px;
    }
}
@media screen and (min-width: 769px)
{
    .index .contact .div_01
    {
        font-size: 24px;
    }
}
.index .contact .div_01 a
{
    font-weight: bold;

    display: inline-block;

    border-bottom: 1px solid #221714;
}
.index .contact .div_01 a:hover
{
    border-color: #fff;
}

@media screen and (max-width: 425px)
{
    .index .summary .table_01 tr
    {
        display: block; 

        margin-top: 3.6%;
    }
    .index .summary .table_01 tr:nth-child(n+2) th
    {
        margin-top: 6%;
    }
    .index .summary .table_01 tr th
    {
        font-size: 3.90625vw;
        font-weight: bold;
        line-height: 1.4; 

        display: list-item;

        text-align: center;
    }
    .index .summary .table_01 tr td
    {
        font-size: 3.90625vw;
        line-height: 1.4; 

        display: list-item;

        text-align: center;
    }
    .index .summary .table_01 tr td ul
    {
        font-size: 3.125vw;
        line-height: 1.2;
    }
    .index .summary .table_01 tr td ul li
    {
        margin-top: 2.4%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .summary .table_01 tr
    {
        display: block; 

        margin-top: 16px;
    }
    .index .summary .table_01 tr:nth-child(n+2) th
    {
        margin-top: 32px;
    }
    .index .summary .table_01 tr th
    {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.4; 

        display: list-item;

        text-align: center;
    }
    .index .summary .table_01 tr td
    {
        font-size: 18px;
        line-height: 1.4; 

        display: list-item;

        text-align: center;
    }
    .index .summary .table_01 tr td ul
    {
        font-size: 14px;
        line-height: 1.2;
    }
    .index .summary .table_01 tr td ul li
    {
        margin-top: 10px;
    }
}

@media screen and (min-width: 769px)
{
    .index .summary .table_01
    {
        width: 720px;
    }
    .index .summary .table_01 tr th,
    .index .summary .table_01 tr td
    {
        padding-top: 36px;
    }
    .index .summary .table_01 tr:nth-child(2) th,
    .index .summary .table_01 tr:nth-child(2) td,
    .index .summary .table_01 tr:nth-child(3) th,
    .index .summary .table_01 tr:nth-child(3) td
    {
        padding-top: 0;
    }
    .index .summary .table_01 th
    {
        font-size: 18px;
        line-height: 1.6; 

        width: 120px;

        vertical-align: top;
    }
    .index .summary .table_01 td
    {
        font-size: 18px;
        line-height: 1.6; 

        vertical-align: top;
    }
    .index .summary .table_01 td small
    {
        font-size: 14px;
    }
    .index .summary .table_01 td ul li
    {
        font-size: 14px;

        margin-top: 4px;
    }
}

.index .contact .address_01
{
    line-height: 1.4;

    text-align: center;
    letter-spacing: .06em;
}
@media screen and (max-width: 425px)
{
    .index .contact .address_01
    {
        font-size: 3.125vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .index .contact .address_01
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 769px)
{
    .index .contact .address_01
    {
        font-size: 14px;
    }
}
.index .contact .address_01 a
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
}

#extensionBox
{
    position: relative;

    -webkit-transition: all .24s ease;
            transition: all .24s ease;
}
#extensionBox.active a:before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); 
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
}
#extensionBox.active a:after
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); 
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
}
#extensionBox a
{
    position: relative;

    -webkit-transition: all .24s ease;
            transition: all .24s ease;
}
#extensionBox a:before
{
    font-size: 200%; 

    position: absolute;
    top: 0;
    right: 5%;

    display: block;

    width: 1px;
    height: .8em;

    content: '';
    -webkit-transition: all .24s ease;
            transition: all .24s ease;

    background-color: #221714;
}
@media screen and (max-width: 425px)
{
    #extensionBox a:before
    {
        margin: 3.2% .4em 0 0;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #extensionBox a:before
    {
        margin: 14px .4em 0 0;
    }
}
@media screen and (min-width: 769px)
{
    #extensionBox a:before
    {
        margin: 14px .4em 0 0;
    }
}
#extensionBox a:after
{
    font-size: 200%; 

    position: absolute;
    top: 0;
    right: 5%;

    display: block;

    width: .8em;
    height: 1px;

    content: '';
    -webkit-transition: all .24s ease;
            transition: all .24s ease;

    background-color: #221714;
}
@media screen and (max-width: 425px)
{
    #extensionBox a:after
    {
        margin-top: 6.8%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #extensionBox a:after
    {
        margin-top: 28px;
    }
}
@media screen and (min-width: 769px)
{
    #extensionBox a:after
    {
        margin-top: 28px;
    }
}
@media screen and (min-width: 769px)
{
    #extensionBox a:hover
    {
        background-color: #f4f4f5;
    }
}
#extensionBox p
{
    position: absolute;

    width: 100%;

    -webkit-transition: all .24s ease;
            transition: all .24s ease; 

    opacity: 0;
}
@media screen and (max-width: 425px)
{
    #extensionBox p
    {
        top: 15vw !important;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
    #extensionBox p
    {
        top: 58px !important;
    }
}
@media screen and (min-width: 769px)
{
    #extensionBox p
    {
        top: 58px !important;
        left: 50%;

        width: 860px; 
        margin-left: -430px;
    }
}
#extensionBox.active a
{
    width: 100%;
}
#extensionBox.active p
{
    display: block;

    -webkit-transition-delay: .24s;
            transition-delay: .24s; 

    opacity: 1;
}

body
{
    min-height: 150vh;
}
body #language span
{
    -webkit-transition: all .36s ease;
            transition: all .36s ease;
}
body.en #language:before
{
    color: #fff;
}
body.en #language:after
{
    color: #221714;
}
body.en #language span
{
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
body.loading #wrapper
{
    opacity: 0;
}
