body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input,
textarea
{
    border-radius: 0;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* global */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: serif;
    font-size: 0;
    line-height: 0;

    letter-spacing: 0;
    word-break: break-all;

    color: #221714; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

img
{
    width: 100%;
}

@media only screen and (max-width: 425px)
{
    .sp
    {
        display: block;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px)
{
    .sp
    {
        display: none;
    }
}

@media only screen and (min-width: 768px)
{
    .sp
    {
        display: none;
    }
}

@media only screen and (max-width: 425px)
{
    .tb
    {
        display: none;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px)
{
    .tb
    {
        display: block;
    }
}

@media only screen and (min-width: 768px)
{
    .tb
    {
        display: none;
    }
}

@media only screen and (max-width: 425px)
{
    .pc
    {
        display: none;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px)
{
    .pc
    {
        display: none;
    }
}

@media only screen and (min-width: 768px)
{
    .pc
    {
        display: block;
    }
}

/* /global */
/* wrapper */
/* /wrapper */
/* header */
#header
{
    width: 100%; 
    padding: 37.5% 5% 0;
}
#header time
{
    font-family: 'Crimson Text', serif;
    font-size: 6.875vw;
    font-weight: 600;
    line-height: 1; 

    position: relative;

    width: 100%;
    margin-top: 15.6%;

    text-align: center;
}
#header time:after
{
    position: absolute;
    top: 60%;
    left: 50%;

    display: block;

    width: 1.4em;
    height: 1px;
    margin-left: -.75em;

    content: '';
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center; 

    background-color: #221714;
}
#header time i
{
    font-size: 4.6875vw;

    letter-spacing: .06em;
}
#header p
{
    font-size: 6.875vw;
    line-height: 1;
}
#header p i
{
    font-size: 4.6875vw;
}
#header nav
{
    margin-top: 23.4%;
}
#header ul li
{
    display: inline-block;

    vertical-align: top;

    background-color: #221714;
}
@media only screen and (max-width: 425px)
{
    #header ul li
    {
        width: 49%;
    }
    #header ul li:nth-child(2n)
    {
        margin-left: 2%;
    }
    #header ul li:nth-child(n+3)
    {
        margin-top: 2%;
    }
}
#header ul li a
{
    font-size: 3.75vw;
    line-height: 1;

    display: block;

    padding: 10% 0;

    text-align: center;

    color: #fff;
}

/* /header */
/* main */
#main
{
    width: 100%;
    padding: 0 5%;
}

/* /main */
/* footer */
/* /footer */
/* index */
.index .topics
{
    margin-top: 6%;
}
.index .topics .ul_01
{
    margin-top: 3.6%;
}

.index .works
{
    margin-top: 12%;
}

/* /index */
/* about */
/* /about */
.index .intro .h2_01,
.index .summary .h2_01,
.index .entry .h2_01
{
    font-size: 0;
    font-size: 7.5vw;
    font-weight: normal;
    line-height: 1; 

    position: relative;

    padding-bottom: 15.6%;

    text-align: center;
}
.index .intro .h2_01:after,
.index .summary .h2_01:after,
.index .entry .h2_01:after
{
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 41%;
    margin-left: -21%;
    padding-bottom: 3.5%;

    content: '';

    background-color: #221714;
}

.index .intro .p_01
{
    font-size: 3.90625vw;
    line-height: 1.6;

    text-align: center; 
    letter-spacing: .12em;
}

.index .intro .p_01
{
    font-size: 3.4375vw;
    line-height: 1.6;

    text-align: center; 
    letter-spacing: .12em;
}

.index .intro .div_01
{
    width: 100%;

    text-align: center;

    border: 1.6vw solid #949494;
}
.index .intro .div_01 a
{
    font-size: 3.90625vw;
    line-height: 1;

    display: block;

    padding: 5% 0;

    letter-spacing: .12em;
}
.index .intro .div_01 p
{
    font-size: 2.8125vw;
    line-height: 1.6;

    padding: 5% 5% 10%;

    text-align: center; 
    letter-spacing: .12em;
}

@media only screen and (max-width: 425px)
{
    .index .summary .table_01
    {
        text-align: center;
    }
    .index .summary .table_01 tr
    {
        display: block;
    }
    .index .summary .table_01 tr th
    {
        font-size: 3.90625vw;
        font-weight: bold;
        line-height: 1; 

        display: list-item;
    }
    .index .summary .table_01 tr td
    {
        font-size: 3.90625vw;
        line-height: 1; 

        display: list-item;
    }
}

@media only screen and (min-width: 425px) and (max-width: 768px)
{
    .index .summary .table_01
    {
        display: none;
    }
}

@media only screen and (min-width: 768px)
{
    .index .summary .table_01
    {
        display: none;
    }
}
